
 {{#extend "base"}}
    {{{body}}}
    {{#content "after-body"}}
    <div class="signatures container break-before">
      <img style="margin-left: 0;" class="logo"
        src="{{api}}/public/img/Logo_Cacao_Principal_ISO_Orange_Letter_Black.png" alt="logo" />
      <p class="space-below">Contratado
        <br>
        <span class="bold">Firma:</span>
      </p>
      <p class="space-below">
        <span class="bold">Nombre: </span> {{name}}
        <br>
        <span class="bold">Titulo: </span> {{position}}
      </p>
      <h4 class="space-below">CACAO Technology Solutions, S.A</h4>
      {{#each signatures}}
        <p class="space-below">
          <span class="bold">Firma: <img class="signature" src="{{this.url}}" alt="signature"></span> 
          <br>
          <span class="bold">Nombre: </span> {{this.name}}
          <br>
          <span class="bold">Titulo: </span> {{this.title}}
        </p>
      {{/each}}
    </div>
    {{/content}}
  {{/extend}}
