{{!-- layouts/base.hbs --}}

<!doctype html>
<html>

<head>
  <title>
    {{#if title}}
    {{title}}
    {{else}}
    Base Page Title
    {{/if}}
  </title>
  {{!--
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500&display=swap" rel="stylesheet"> --}}
  {{#block "head"}}
  {{!-- Custom

  <head> content per page could be added. --}}
    {{/block}}
  </head>

<body>
  {{#block "hero"}}
  {{/block}}


  {{{body}}}
  {{#block "after-body"}}
  {{/block}}
  <footer>
    {{#block "footer"}}
    {{/block}}
  </footer>

  {{#block "scripts"}}
  {{!-- Custom scripts per page can be added. --}}
  {{/block}}
</body>
<style>
  body {
    text-align: justify;
    font-family: sans-serif;
    font-size: 12px;
  }

  .break-before {
    page-break-before: always;
  }

  .break-after {
    page-break-after: always;
  }

  .centered {
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .bold {
    font-weight: bold;
  }

  .lined {
    text-decoration: underline;
  }

  .container {
    padding: 0 5rem;
  }

  .space-below {
    margin-bottom: 5rem;
  }

  .signature {
    width: 5rem;
  }

  .table {
    border-collapse: collapse;
    width: 100%;
  }

  .table td, .table th {
    border: 1px solid #ddd;
    padding: 8px;
  }

  .table-stripped tr:nth-child(even){background-color: #f2f2f2;}

  .table tr:hover {background-color: #ddd;}

  .table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #04AA6D;
    color: white;
  } 
  .flex{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .flex-column{
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align:center;
    -ms-flex-align:center;
    align-items:center
  }

</style>

</html>