extends layout.pug

block content
  p.spaced Hi #{firstName},
  p.spaced Please find the following document containing the terms & conditions as a market affiliate to CacaoEnBytes.
  p.spaced If you have any questions about your affiliation with Cacao, please contact us.

block content-es
  p.spaced Hola #{firstName},
  p.spaced Por favor, reciba a continuación el documento que contiene los términos y condiciones como afiliado de mercado de CacaoEnBytes.
  p.spaced Si tiene alguna pregunta sobre su membresía con Cacao, contáctenos.


