extends layout.pug

block content
  p.spaced Hi #{employee.firstName},
  p.spaced Please find the following receipt for your #{startDate} commission, for $#{amount}. This comes as a referral from #{client}, for their payment of their #{product} subscription.

  p.spaced If you have any questions about your payment, please contact us.


block content-es
  p.spaced Hola #{employee.firstName},
  p.spaced Por favor,  reciba a continuación el recibo de su comisión #{startDate}, por $#{amount}. Esto viene por ser referencia de #{client}, por el pago de su suscripción de #{product}.

  p.spaced Si tiene alguna pregunta sobre su pago, por favor contáctenos.

