extends layout.pug

block content
  p.spaced Hi #{client.name},
  p.spaced We are pleased to inform you that we've checked the payment information regarding your #{product.name} membership, for $#{receiptAmount} out of #{amount}.
  p.spaced You have until #[span.bold #{deadline}] to check this payment summary. To do so, click below. If you have any questions about your invoice, please contact us. #{extra}
  p.spaced Receipt confirmation code: #[span.bold #{receiptId}]

block content-es
  p.spaced Hola #{client.name},
  p.spaced Nos complace informarle que hemos verificado la información de pago de su membresía de #{product.name}, por $#{receiptAmount} de #{amount}.
  p.spaced Tiene hasta #[span.bold #{deadline}] para comprobar este resumen de pago. Para hacerlo, haga clic a continuación. Si tiene alguna pregunta sobre su factura, póngase en contacto con nosotros. #{extra}
  p.spaced Código de confirmación de recibo: #[span.bold #{receiptId}]

