extends layout.pug

block content
  p.spaced Hi #{Client.name},
  p.spaced We are sorry to inform you that we've issued the cancelling of your #{product} membership, represented by the code #[span.bold #{contractId}].
  p.spaced You have one month to read and confirm the terms and conditions of the cancelled contract. To do so, click below.

block content-es
  p.spaced Hola #{Client.name},
  p.spaced Lamentamos informarle que hemos emitido la cancelación de su #{product} membresía, representado por el código #[span.bold #{contractId}].
  p.spaced Tienes un mes para leer y confirmar los términos y condiciones del contrato cancelado. Para hacerlo, haga clic a continuación.

