extends layout.pug

block content
  p.spaced Hi #{clientName},
  p.spaced We are glad to inform you that we've successfully created your contract of your #{productName} membership, represented by the code #[span.bold #{contractId}].
  p.spaced You have until #[span.bold #{expirationDate}] to sign and confirm the terms and conditions of the new contract. To do so, click below.

block content-es
  p.spaced Hola #{clientName},
  p.spaced Nos complace informarle que hemos creado con éxito su contrato de su #{productName} membresía, representado por el código #[span.bold #{contractId}].
  p.spaced Tiene hasta #[span.bold #{expirationDate}] para firmar y confirmar los términos y condiciones del nuevo contrato. Para hacerlo, haga clic a continuación.

