extends layout.pug

block content
  p.spaced Hi #{user.firstName},
  p.spaced Head over to the link below to change your password.
  p.spaced For safety reasons, you've got #[span.bold 8 hours] to perform this password change.

block content-es
  p.spaced Hola #{user.firstName},
  p.spaced Dirígete al siguiente enlace para cambiar tu contraseña.
  p.spaced Por razones de seguridad, tienes #[span.bold 8 horas] para realizar este cambio de contraseña.
