extends layout.pug

block content
  p.spaced Hi #{employee.firstName},
  p.spaced Please find the following receipt for your #{startDate} salary, for $#{amount}.
  p.spaced If you have any questions about your payment, please contact us.

block content-es
  p.spaced Hola #{employee.firstName},
  p.spaced Por favor, reciba a continuación el recibo por su #{startDate} salario, por $#{amount}.
  p.spaced Si tiene alguna pregunta sobre su pago, por favor contáctenos.
