// Layout data: {url, button, title, img}
doctype html
html
  head
    link(rel="preconnect" href="https://fonts.googleapis.com")
    link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
    link(href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500&display=swap" rel="stylesheet")
    style.
      .main { font-family:'Poppins', sans-serif; margin:0 auto;align-text:justify; width: 680px; max-width:100%}
      .button { font-family:'Poppins', sans-serif; border-radius:2px; background-color:#5d77a9; color:white; padding:0.5em 1.25em; border:none; cursor:pointer;font-weight:500;text-decoration:none; }
      .bold {font-weight:bolder}
      .centered {display:block; width:fit-content; margin-left:auto;margin-right:auto;text-align:center}
      .spaced {margin-top:1rem; margin-bottom:1rem}
      .title {font-size:42px; text-align:center; font-weight:500; margin: 1em 0.2em;}
      .header {background-color: #5d77a9;color: #fff;width: 680px;}
      a {color:white; }
  body(style="width:100%")
    table.main
      tbody(style="padding:0.5em 2em")
        tr.header(width="680")
          td(style="padding: 30px 0")
            div(
              align="center"
              style="line-height: 10px"
            )
              img(
              alt="logo"
              src="https://firebasestorage.googleapis.com/v0/b/bitgobi-assets.appspot.com/o/Logo_Cacao_ONLY_White.png?alt=media&token=199b9ffd-dda5-4013-a93d-69822b0d5734"
              style="display: block;height: auto;border: 0;width: 204px;max-width: 100%;"
              )
          tr(style="background-color: #cbdbef;color: #000000;width: 680px;text-align:center;" width="680")
            td(style="padding-bottom:2em")
              if img
                div(
                  align="center"
                  style="line-height: 10px; margin-top:2em"
                )
                  img(
                    alt="Heading Img"
                    src=img
                    style="display:block; height: auto; border:0; width: 6rem;margin-bottom: 4rem; max-width:100%"
                  )
              p.title #{title}
              block content

              hr(style="display: block; height: 1px;  border: 0;  border-top: 1px solid #000;  margin: 1em 0;  padding: 0;  width:50%;  margin:2rem auto;")
              block content-es
              if url && button
                div(
                  align="center"
                  style="line-height: 10px; margin:3em 0 2em"
                )
                    a.button(href=url target="_blank") #{button}

          tr.header(width="680" style="font-size:12px;")
            td(style="padding:2em 0")
              div(
              align="center"
              style="line-height: 10px"
              )
                div(align="center" style="line-height:10px")
                  img(
                    alt="logo"
                    src="https://firebasestorage.googleapis.com/v0/b/bitgobi-assets.appspot.com/o/Logo_Cacao_ONLY_White.png?alt=media&token=199b9ffd-dda5-4013-a93d-69822b0d5734"
                    style="display: block; height: auto; border: 0; width: 170px; max-width: 100%;"
                  )
                div(style="margin:2rem 0;")
                  p
                    a(href="https://cacaoenbytes.com/home" target="_blank") cacaoenbytes.com
                  p
                    a(href="mailto:contacto@cacaoenbytes.com") contacto@cacaoenbytes.com
                  p +58 212-905630
                p 2023 © All Rights Reserved




