extends layout.pug

block content
  p.spaced Hi #{client.name},
  p.spaced We are afraid to inform you your invoice for your #{product.name} membership is overdue. However, the payment remains at $#{amount}.
  p.spaced Payment was to be received from #[span.bold #{startDate} to #{deadline}]. Please click below to send your payment confirmation, or otherwise, your product membership will be canceled. If you have any questions about your invoice, please contact us.

block content-es
  p.spaced Hola #{client.name},
  p.spaced Lamentamos informarle que su factura por su #{product.name} membresía está vencida. Sin embargo, el pago se mantiene en $#{amount}.
  p.spaced El pago debía recibirse de #[span.bold #{startDate} to #{deadline}]. Por favor, haga clic a continuación para enviar su confirmación de pago o, de lo contrario, se cancelará su membresía del producto. Si tiene alguna pregunta sobre su factura, póngase en contacto con nosotros.

