extends layout.pug

block content
  p We would like to remind you of the payments of hirings that were scheduled in our admin-site, to the following #{advance_days} days:
  ul
    each payroll in payrolls
      li #{payroll.employee.firstName} #{payroll.employee.lastName} - $#{payroll.amount} -&nbsp;
        if payroll.overdue
          span(style="color:red") #{payroll.date}
        else
          span #{payroll.date}

  p.spaced If you want to register information about any of these payments, checkout all the details by clicking below:

block content-es
  p Les recordamos los pagos de contrataciones que se programaron en nuestro admin-site, a los siguientes #{advance_days} días:
  ul
    each payroll in payrolls
      li #{payroll.employee.firstName} #{payroll.employee.lastName} - $#{payroll.amount} -&nbsp;
        if payroll.overdue
          span(style="color:red") #{payroll.date}
        else
          span #{payroll.date}

  p.spaced Si desea registrar información sobre alguno de estos pagos, consulte todos los detalles haciendo clic a continuación:

