extends layout.pug

block content
  p.spaced Hi #{affiliate.firstName},
  p.spaced You have been successfully registered as a Cacao's affiliate. Head over to the link below to setup your login data and get started!
  p.spaced For safety reasons, you've got #[span.bold 72 hours] to create your account.

block content-es
  p.spaced Hola #{affiliate.firstName},
  p.spaced Ha sido registrado exitosamente como afiliado de Cacao. ¡Dirígete al siguiente enlace para configurar tus datos de inicio de sesión y comenzar!
  p.spaced Por razones de seguridad, tiene #[span.bold 72 horas] para crear su cuenta.