extends layout.pug

block content
  p.spaced Hi #{client.name.split(' ')[0]},
  p.spaced You have been successfully registered as a Cacao's client. Head over to the link below to setup your login data and get started!
  p.spaced For safety reasons, you've got #[span.bold 72 hours] to create your account.

block content-es
  p.spaced Hola #{client.name.split(' ')[0]},
  p.spaced Ha sido registrado exitosamente como cliente de Cacao. ¡Diríjase al siguiente enlace para configurar tus datos de inicio de sesión y comenzar!
  p.spaced Por razones de seguridad, tiene #[span.bold 72 horas] para crear su cuenta.
