extends layout.pug

block content
  p.spaced Hi #{userData.client ? userData.client.name.split(' ')[0] : userData.affiliate.firstName},
  p.spaced You have been successfully registered as a Cacao's #{userData.client ? 'client' : 'affiliate'}. Since you already had a user for the site you can head over to the link below to log in and get started!
  p.spaced In case you don't remember here's your username: "#{userData.user.username}" .

block content-es
  p.spaced Hola #{userData.client ? userData.client.name.split(' ')[0] : userData.affiliate.firstName},
  p.spaced Usted ha sido registrado exitosamente como Cacao #{userData.client ? 'cliente' : 'afiliado'}. Como ya tenía un usuario para el sitio, puede dirigirse al siguiente enlace para iniciar sesión y comenzar.
  p.spaced En caso de que no lo recuerde, aquí está su nombre de usuario: "#{userData.user.username}" .