extends layout.pug

block content
  p.spaced Hi #{userData.name ? userData.name.split(' ')[0] : userData.firstName},
  p.spaced Head over to the link below to change your password.
  p.spaced For safety reasons, you've got #[span.bold 24 hours] to perform this password change.

block content-es
  p.spaced Hola #{userData.name ? userData.name.split(' ')[0] : userData.firstName},
  p.spaced Diríjase al siguiente enlace para cambiar tu contraseña.
  p.spaced Por razones de seguridad, usted tiene #[span.bold 24 horas] para realizar este cambio de contraseña.
