extends layout.pug

block content
  p.spaced Hi #{user.firstName},
  p.spaced An admin has setup your account for Cacao's site. Head over to the link below to setup your password and get started!
  p.spaced For safety reasons, you've got #[span.bold 72 hours] to confirm your account.

block content-es
  p.spaced Hola #{user.firstName},
  p.spaced Un administrador ha configurado su cuenta para el sitio de Cacao. ¡Diríjate al siguiente enlace para configurar tu contraseña y comenzar!
  p.spaced Por razones de seguridad, tiene #[span.bold 72 horas] para confirmar su cuenta.
