extends layout.pug

block content
  p.spaced Hi #{client.name},
  p.spaced We are sorry to inform you that we've checked the payment information regarding your #{product.name} membership, and sadly it's been #[span.bold rejected].
  p.spaced You have until #[span.bold #{deadline}] to submit another payment. To do so, click below. If you have any questions about your invoice, please contact us. #{extra}

block content-es
  p.spaced Hola #{client.name},
  p.spaced Lamentamos informarle que hemos verificado la información de pago con respecto a su #{product.name} membresía, y ha sido #[span.bold rechazada].
  p.spaced Tiene hasta #[span.bold #{deadline}] para enviar otro pago. Para hacerlo, haga clic a continuación. Si tiene alguna pregunta sobre su factura, póngase en contacto con nosotros. #{extra}
