extends layout.pug

block content
  p.spaced Hi #{client.name},
  p.spaced Please find the following invoice for your #{product.name} membership, for $#{amount}.
  p.spaced Payment is due on #[span.bold #{deadline}]. Click below to send your payment confirmation. If you have any questions about your invoice, please contact us.

block content-es
  p.spaced Hola #{client.name},
  p.spaced Por favor, reciba a continuación la factura por su #{product.name} membresía, por $#{amount}.
  p.spaced El pago vence el #[span.bold #{deadline}]. Haga clic a continuación para enviar su confirmación de pago. Si tiene alguna pregunta sobre su factura, contáctenos.