extends layout.pug

block content
  p.spaced Hi #{user.firstName},
  p.spaced You have been assigned a new support ticket!
  p.spaced If you are free right now, you can click below and start solving it right away.

block content-es
  p.spaced Hola #{user.firstName},
  p.spaced ¡Se le ha asignado un nuevo ticket de soporte!
  p.spaced Si está libre en este momento, puede hacer clic a continuación y comenzar a resolverlo de inmediato.