extends layout.pug

block content
  p.spaced Hi #{name},
  p.spaced Your support ticket #[i ticket], of subject #[i subject] has been #[b solved and closed].
  p.spaced We hope you were satisfied with our support service, and please feel free to submit another ticket whenever needed.

block content-es
  p.spaced Hola #{name},
  p.spaced Tu ticket de soporte #[i ticket], de tema #[i subject] ha sido #[b solved and closed].
  p.spaced Esperamos que esté satisfecho con nuestro servicio de soporte y no dude en enviar otro ticket cuando sea necesario.