extends layout.pug

block content
  p.spaced Hi #{name},
  p.spaced Your verification request has been reviewed and #[b rejected] for the following reason:
  p(style="margin:2em 0") #[i #{comment}]
  p.spaced Please correct these issues and submit your information once again so we can verify you.

block content-es
  p.spaced Hola #{name},
  p.spaced Su solicitud de verificación ha sido revisada y #[b rechazada] por la siguiente razón:
  p(style="margin:2em 0") #[i #{comment}]
  p.spaced Por favor, corrija estos problemas y envíe su información una vez más para que podamos verificarlo.