extends layout.pug

block content
  p.spaced Hi #{name},
  p.spaced Your verification request has heen reviewed and #[b approved] until further notice.
  p.spaced Now, your websites and applications will brandish a #[i verified badge] on public sites, such as our marketplace.

block content-es
  p.spaced Hola #{name},
  p.spaced Su solicitud de verificación ha sido revisada y #[b aprobada] hasta nuevo aviso.
  p.spaced Ahora, sus sitios web y aplicaciones lucirán una #[i insignia de verificación] en sitios públicos, como nuestro mercado.