<div class="break-after box flex flex-column" style="align-items: center;">
  <img class="logo" src="{{api}}/public/img/Logo_Cacao_Principal_ISO_Orange_Letter_Black.png" alt="logo" />
  <h3 class="">Comisión {{startDate}}</h3>
  <table class="grid-table" style="border:none;  width:115%;margin-bottom: 2rem; table-layout: fixed;">
  
    <tr>
      <td>
        CACAO Technology Solutions, S.A
      </td>
      <td/>
      <td>
        1853300-1-714147 DV 64
      </td>
    </tr>
    <tr>
      <td>
        <span> PERÍODO DESDE: {{startDate}}</span>
      </td>
      <td/>
      <td>
      </td>
    </tr>
    <tr>
      <td >
        BENEFICIARIO:
      </td>
      <td ><span>{{name}}</span></td>
      <td >CÉDULA: {{legalIdentifier}}</td>
    </tr>
  </table>
  <table class="table" style="margin-bottom: 2em;width: 100%;">
    <tr>
      <th>CÓDIGO</th>
      <th>DESCRIPCIÓN</th>
      <th>VALOR AUXILIAR</th>
      <th>ASIGNACIONES</th>
      <th>DEDUCCIONES</th>
      <th>NETO A COBRAR</th>
    </tr>
    <tr>
      <td>AO02</td>
      <td>COMISIÓN POR VENTA</td>
      <td></td>
      <td>{{amount}}</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td rowspan="3" colspan="2" class="borderless " style="">
        <div style="width:100%; margin-top:1.5em; border-bottom: 0.75px solid black;"></div>
        <hr>
        <span class="centered">RECIBÍ CONFORME</span>
      </td>
      <td style="border-right: none;">TOTAL AFILIADO</td>
      <td class="borderless" style="border-left: none; border-right: none;">{{amount}}</td>
      <td class="borderless" style="border-left: none; border-right: none;">0,00</td>
      <td style="border-left: none;">{{amount}}</td>
    </tr>
    <tr>
      <td style="border-right: none; text-align: left;" colspan="2">
        <p>FORMA DE PAGO: {{paymentMethod}}</p>
        <p>CONCEPTO: {{concept}}</p>
      </td>
      <td style="border-left: none;" colspan="2" rowspan="1">
        <p>FECHA DE PAGO: {{paymentDate}}</p>
      </td>
    </tr>
  </table>
</div>
<div class="box">
    <img class="logo" src="{{api}}/public/img/Logo_Cacao_Principal_ISO_Orange_Letter_Black.png" alt="logo" />

    <div class="flex-column flex" style="display: flex;flex-direction: column; align-items: center;">
      <h3 class="centered">Comprobante de Pago</h3>
      <img class="centered" style="max-width: 80%; min-width: 30rem; max-height: 50rem; margin-bottom: 2em;" src="{{url}}"/>
    </div>
</div>
<style>
  .grid-table td{
    padding: 1em;
  } 
  .logo{
    width: 16rem;
    margin: 2rem 0rem;
    margin-right: auto;
  }
  .borderless{
    border-right: none;
    border-left: none;
  }
  .box{
    border:1px solid black; 
    border-radius:10px;
    margin: 2.5em;
    padding: 1em 2em;
  }
</style>